---
const { headline, address, about, more, image, venue_class, maps_link } =
  Astro.props;
import Button from "./Button.astro";
---

<div id="container" class={venue_class}>
  <div class="left">
    <h3>{headline}</h3>
    <p>( {address} )</p>
    <p>{about}</p>
    <p>{more}</p>
    <a href={maps_link}><Button button_class="primary" text="Open in Maps" /></a
    >
  </div>
  <div id="picture">
    <img src={image} alt={headline} />
  </div>
</div>

<style>
  #container {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    gap: 20px;
    align-items: center;
    margin-bottom: 50px;
  }
  h3,
  p {
    margin-bottom: 20px;
  }
  .picture {
    margin-top: 20px;
  }
  @media (min-width: 800px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 40px;
      gap: 20px;
      align-items: center;
    }
    .right .left {
      grid-column: 2;
      grid-row: 1;
    }
    .right #this img {
      grid-column: 1;
      grid-row: 1;
    }
    .picture {
      margin-top: 0px;
    }
  }
</style>
